/* For desktop: */
@media only screen and (min-width: 768px) {
  .navbar-brand {
    margin-right: 0;
  }

  .wrapper {
    display: flex;
  }

  .sidebar {
    width: 10vw;
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    border-right: 0.5px solid #e5e5e5;
    background-color: #ffffff;
  }

  .sidebar-logo {
    width: 7rem;
    transition: all 0.2s ease-in-out;
  }

  .sidebar > .sidebar-collapse {
    flex-direction: column;
    justify-content: space-between;
    background-color: #FFFFFF;
  }

  .sidebar > .sidebar-collapse > .sidebar-menu {
    display: flex;
    flex-direction: column;
    width: 6.25rem;
    margin-top: 20vh;
  }

  .sidebar > .sidebar-collapse > .sidebar-menu .menu {
    position: relative;
    height: 30px;
    width: 6.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .sidebar > .sidebar-collapse > .sidebar-menu .sidebar-menu-icon {
    width: 2.5rem;
    height: 2.5rem;
  }

  .sidebar > .sidebar-collapse > .sidebar-menu .menu .text,
  .sidebar > .sidebar-collapse > .sidebar-menu .menu .image {
    transition: all 0.25s ease-in-out;
  }

  .sidebar > .sidebar-collapse > .sidebar-menu .menu .text {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    width: 100px;
    position: absolute;
    left: 0;
    opacity: 0;
    color: #f25209;
  }

  .sidebar > .sidebar-collapse > .sidebar-menu .menu:hover .image {
    opacity: 0;
  }

  .sidebar > .sidebar-collapse > .sidebar-menu .menu:hover .text {
    opacity: 1;
  }

  .sidebar > .sidebar-collapse > .sidebar-menu .nav-item {
    margin-bottom: 1rem;
  }

  .sidebar-socmed-icons {
    text-align: center;
    flex-direction: column;
  }

  .sidebar-socmed-icons i {
    transition: all 0.2s ease-in-out;
    font-size: 1.25rem;
    margin: 5px 0;
    color: #292f36;
  }

  .grow:hover {
    transform: scale(1.1);
  }
}

/** for mobile devices **/
@media only screen and (max-width: 360px),
  only screen and (min-device-width: 375px) and (max-device-width: 812px),
  only screen and (min-device-width: 411px) and (max-device-width: 823px)
{
    .menu .image {
      display: none;
    }

    .nav-item {
      padding: .5rem 1rem;
      text-align: center;
    }

    .nav-item > a {
      font-size: 36px;
      font-family: 'Raleway', sans-serif;
      width: 100%;
      color: #f25209;
    }

    .sidebar-logo {
      width: 3rem;
      transition: all 0.2s ease-in-out;
    }

    .sidebar-socmed-icons > li {
      flex: 1;
    }

    .sidebar {
      border-bottom: 0.5px solid #e5e5e5;
      background-color: #ffffff;
    }

    .sidebar > .sidebar-collapse {
      background-color: #FFFFFF;
    }

    .sidebar > .sidebar-collapse .sidebar-menu {
      margin-top: 3rem;  
      background-color: #FFFFFF;
    }
    
    .sidebar > .sidebar-collapse .sidebar-socmed-icons {
      margin-bottom: 3rem;
      text-align: center;
    }
        
    .sidebar-socmed-icons i {
      transition: all 0.2s ease-in-out;
      font-size: 18px;
      margin: 5px 0;
      color: #292f36;
    }
  }

  